!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %meta{:property => "og:site_name", :content => "Favtile" }
    %meta{:property => "og:title", :content => "Favtile"}
    -#%meta{:property => "og:description", :content => ""}
    %meta{:property => "og:url", :content => "http://favtile.herokuapp.com/"}
    -# %meta{:property => "og:image", :content => "http://favtile.heroku.comam/sample2.png"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "fb:admins", :content => "yasulab"}

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "screen.css" }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "style.css" }
    %script{ :type => "text/javascript", :src => "js/jquery-1.7.min.js" }
    %script{ :type => "text/javascript", :src => "js/jquery.activity-indicator-1.0.0.min.js"}
    %script{ :type => "text/javascript", :src => "js/jquery.tile.js" }
    %script{ :type => "text/javascript", :src => "js/jquery.autolink.js" }
    %script{ :type => "text/javascript", :src => "js/bottom_detection.js" }
    %script{ :type => "text/javascript", :src => "js/coffee-script.js" }
    %script{ :type => "text/javascript", :src => "http://platform.twitter.com/widgets.js" }
    %script{ :type => "text/javascript", :src => "http://connect.facebook.net/ja_JP/all.js#xfbml=1", :id => "facebook-jssdk" }

    %script{ :type => "text/coffeescript", :src => "hint.coffee" }
    %script{ :type => "text/coffeescript", :src => "main.coffee" }
    %title Favtile
  %body
    #loading
    #fb-root
    .container
      .header
        .right_ab
          %a{:href => "http://twitter.com/yasulab" } yasulab
          %a{:href => "http://twitter.com/hanachin_" } hanachin_
      .ib-top
        %h1
          %a{:href => "/"} Favtile
        .fb-like.right_ab{"data-href" => "http://favtile.herokuapp.com/", "data-send" => "true", "data-width" => 450, "data-show-faces" => "false"}
        %a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-count" => "horizontal", "data-lang" => "ja" }
          ツイート
      .ib-main-wrapper
        = yield
